@tailwind base;
@tailwind components;

.ui-container{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    transition: all .4s ease;
    background-repeat: repeat-x !important;
    background-size: 100% 100% !important;
}

@media only screen and (min-width: 992px) {
    .ui-container{
        background-size: auto !important;
        background-repeat: repeat !important;
    }
}
@tailwind utilities;