@tailwind base;
@tailwind components;

.ui-container{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-size: cover;
    transition: all .4s ease;
    overflow: hidden;
}

@media only screen and (min-width: 992px) {
    .ui-container{
        background-size: auto;
    }
}
@tailwind utilities;